In [1]:
!pip install pymongo

Requirement already satisfied: pymongo in ./anaconda3/envs/PraktikumBigData/lib/python3.13/site-packages (4.15.3)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in ./anaconda3/envs/PraktikumBigData/lib/python3.13/site-packages (from pymongo) (2.4.2)

In [3]:
# Tugas 1: Pastikan MongoDB telah terpasang dan berjalan. Hubungkan ke MongoDB lokal.
from pymongo import MongoClient

# Inisialisasi client dan koneksi ke database
client = MongoClient('mongodb://localhost:27017/')
db = client['company_db']
collection = db['employees']

# Contoh untuk memastikan koneksi
print('Connected to MongoDB')

Connected to MongoDB

In [4]:
# Tugas 2: Insert, Update, dan Delete data pada koleksi employees.
# Contoh Insert Data
employee_data = {
    'name': 'Alice',
    'department': 'Finance',
    'age': 29,
    'salary': 4500
}
collection.insert_one(employee_data)
print('Data inserted')

# Tugas: Insert beberapa data tambahan, lakukan update, serta delete data

Data inserted

In [5]:
# Contoh Query Data
for employee in collection.find():
    print(employee)

{'_id': ObjectId('6902c2fe8af8e325843619bf'), 'name': 'Alice', 'department': 'Finance', 'age': 29, 'salary': 4500}

In [6]:
# Tugas 3: Terapkan aggregation untuk menghitung rata-rata gaji per departemen.
# Query Aggregation untuk mencari rata-rata gaji per departemen
pipeline = [
    {'$group': {'_id': '$department', 'average_salary': {'$avg': '$salary'}}}
]
for result in collection.aggregate(pipeline):
    print(result)

{'_id': 'Finance', 'average_salary': 4500.0}

In [7]:
# Tugas 4.1: Buatlah koleksi baru products dan masukkan data produk (minimal 10 produk).
from pymongo import MongoClient

# Koneksi ke MongoDB lokal
client = MongoClient("mongodb://localhost:27017/")

# Membuat / memilih database
db = client["toko_online"]

# Membuat / memilih koleksi
products = db["products"]

# Data produk (minimal 10 item)
data_produk = [
    {"nama": "Laptop Asus A14", "kategori": "Elektronik", "harga": 9500000, "stok": 12},
    {"nama": "Smartphone Samsung M14", "kategori": "Elektronik", "harga": 3200000, "stok": 25},
    {"nama": "Headphone JBL T500", "kategori": "Aksesori", "harga": 450000, "stok": 30},
    {"nama": "Keyboard Logitech K120", "kategori": "Periferal", "harga": 175000, "stok": 50},
    {"nama": "Mouse Razer Viper Mini", "kategori": "Periferal", "harga": 399000, "stok": 40},
    {"nama": "Monitor LG 24MK600", "kategori": "Elektronik", "harga": 1700000, "stok": 15},
    {"nama": "Charger Anker 20W", "kategori": "Aksesori", "harga": 250000, "stok": 45},
    {"nama": "Tas Laptop Eiger 15inch", "kategori": "Fashion", "harga": 375000, "stok": 20},
    {"nama": "Printer Canon PIXMA MG2570S", "kategori": "Elektronik", "harga": 825000, "stok": 10},
    {"nama": "Flashdisk Sandisk 32GB", "kategori": "Penyimpanan", "harga": 75000, "stok": 60}
]

# Memasukkan data ke koleksi products
insert_result = products.insert_many(data_produk)

# Menampilkan ID dokumen yang berhasil dimasukkan
print("Data produk berhasil ditambahkan dengan ID:")
print(insert_result.inserted_ids)

Data produk berhasil ditambahkan dengan ID:
[ObjectId('6902c46a8af8e325843619c1'), ObjectId('6902c46a8af8e325843619c2'), ObjectId('6902c46a8af8e325843619c3'), ObjectId('6902c46a8af8e325843619c4'), ObjectId('6902c46a8af8e325843619c5'), ObjectId('6902c46a8af8e325843619c6'), ObjectId('6902c46a8af8e325843619c7'), ObjectId('6902c46a8af8e325843619c8'), ObjectId('6902c46a8af8e325843619c9'), ObjectId('6902c46a8af8e325843619ca')]

In [8]:
# Tugas 4.2: Lakukan query untuk menemukan produk dengan harga di atas rata-rata.
from pymongo import MongoClient

# Koneksi ke MongoDB
client = MongoClient("mongodb://localhost:27017/")
db = client["toko_online"]
products = db["products"]

# Hitung rata-rata harga semua produk
pipeline_avg = [
    {"$group": {"_id": None, "rata_harga": {"$avg": "$harga"}}}
]
hasil_avg = list(products.aggregate(pipeline_avg))[0]
rata_harga = hasil_avg["rata_harga"]

print(f" Rata-rata harga produk: Rp{rata_harga:,.0f}")

# Query produk dengan harga di atas rata-rata
produk_diatas_rata = products.find({"harga": {"$gt": rata_harga}})

print("\n Produk dengan harga di atas rata-rata:")
for p in produk_diatas_rata:
    print(f"- {p['nama']} (Rp{p['harga']:,.0f})")

 Rata-rata harga produk: Rp1,694,900

 Produk dengan harga di atas rata-rata:
- Laptop Asus A14 (Rp9,500,000)
- Smartphone Samsung M14 (Rp3,200,000)
- Monitor LG 24MK600 (Rp1,700,000)

In [9]:
# Tugas 4.3: Buatlah aggregation pipeline untuk menghitung total produk dalam setiap kategori.
from pymongo import MongoClient

# Koneksi ke MongoDB
client = MongoClient("mongodb://localhost:27017/")
db = client["toko_online"]
products = db["products"]

# Aggregation pipeline untuk menghitung total produk tiap kategori
pipeline = [
    {
        "$group": {
            "_id": "$kategori",        # Kelompokkan berdasarkan kategori
            "total_produk": {"$sum": 1}  # Hitung jumlah dokumen per kategori
        }
    },
    {
        "$sort": {"total_produk": -1}   # (Opsional) Urutkan dari yang terbanyak
    }
]

# Jalankan pipeline
hasil = list(products.aggregate(pipeline))

# Tampilkan hasil
print("Total Produk per Kategori:")
for item in hasil:
    print(f"- {item['_id']}: {item['total_produk']} produk")

Total Produk per Kategori:
- Elektronik: 4 produk
- Periferal: 2 produk
- Aksesori: 2 produk
- Penyimpanan: 1 produk
- Fashion: 1 produk