In [2]:
!pip install pymongo

Requirement already satisfied: pymongo in ./anaconda3/envs/PraktikumBigData/lib/python3.13/site-packages (4.15.3)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in ./anaconda3/envs/PraktikumBigData/lib/python3.13/site-packages (from pymongo) (2.4.2)

In [3]:
# Pastikan MongoDB telah terpasang dan berjalan. Hubungkan ke MongoDB lokal.
from pymongo import MongoClient

# Inisialisasi client dan koneksi ke database
client = MongoClient('mongodb://localhost:27017/')
db = client['company_db']
collection = db['employees']

# Contoh untuk memastikan koneksi
print('Connected to MongoDB')

Connected to MongoDB

In [4]:
# Mempersiapkan data karyawan di koleksi MongoDB (employees)
from pymongo import MongoClient

# koneksi ke server MongoDB lokal
client = MongoClient("mongodb://localhost:27017/")

# pilih atau buat database baru
db = client["sistem_penggajian"]

# pilih atau buat koleksi karyawan
employees = db["employees"]
data_employees = [
    {"nama": "Dinda Saputra", "departemen": "HRD", "gaji": 7000000, "umur": 28},
    {"nama": "Rani Oktaviani", "departemen": "HRD", "gaji": 6800000, "umur": 26},
    {"nama": "Bayu Fadillah", "departemen": "HRD", "gaji": 6500000, "umur": 30},
    {"nama": "Citra Ayu", "departemen": "HRD", "gaji": 6000000, "umur": 24},
    {"nama": "Fajar Ramadhan", "departemen": "HRD", "gaji": 6200000, "umur": 23},
    
    {"nama": "Fikri Maulana", "departemen": "IT", "gaji": 9000000, "umur": 29},
    {"nama": "Rendi Kurniawan", "departemen": "IT", "gaji": 8700000, "umur": 31},
    {"nama": "Nisa Wulandari", "departemen": "IT", "gaji": 8500000, "umur": 22},
    {"nama": "Tio Pratama", "departemen": "IT", "gaji": 8000000, "umur": 27},
    {"nama": "Lala Dewi", "departemen": "IT", "gaji": 8200000, "umur": 25},
    
    {"nama": "Putri Larasati", "departemen": "Finance", "gaji": 7700000, "umur": 33},
    {"nama": "Rizky Ananda", "departemen": "Finance", "gaji": 7900000, "umur": 24},
    {"nama": "Eko Santoso", "departemen": "Finance", "gaji": 7500000, "umur": 28},
    {"nama": "Nadia Farah", "departemen": "Finance", "gaji": 7200000, "umur": 23},
    {"nama": "Joko Priyono", "departemen": "Finance", "gaji": 7000000, "umur": 26}
]

employees.insert_many(data_employees)
print("Data karyawan berhasil dimasukkan!")

Data karyawan berhasil dimasukkan!

In [5]:
# Memastikan datanya sudah benar-benar masuk.
for e in employees.find({}, {"_id":0}):
    print(e)

{'nama': 'Dinda Saputra', 'departemen': 'HRD', 'gaji': 7000000, 'umur': 28}
{'nama': 'Rani Oktaviani', 'departemen': 'HRD', 'gaji': 6800000, 'umur': 26}
{'nama': 'Bayu Fadillah', 'departemen': 'HRD', 'gaji': 6500000, 'umur': 30}
{'nama': 'Citra Ayu', 'departemen': 'HRD', 'gaji': 6000000, 'umur': 24}
{'nama': 'Fajar Ramadhan', 'departemen': 'HRD', 'gaji': 6200000, 'umur': 23}
{'nama': 'Fikri Maulana', 'departemen': 'IT', 'gaji': 9000000, 'umur': 29}
{'nama': 'Rendi Kurniawan', 'departemen': 'IT', 'gaji': 8700000, 'umur': 31}
{'nama': 'Nisa Wulandari', 'departemen': 'IT', 'gaji': 8500000, 'umur': 22}
{'nama': 'Tio Pratama', 'departemen': 'IT', 'gaji': 8000000, 'umur': 27}
{'nama': 'Lala Dewi', 'departemen': 'IT', 'gaji': 8200000, 'umur': 25}
{'nama': 'Putri Larasati', 'departemen': 'Finance', 'gaji': 7700000, 'umur': 33}
{'nama': 'Rizky Ananda', 'departemen': 'Finance', 'gaji': 7900000, 'umur': 24}
{'nama': 'Eko Santoso', 'departemen': 'Finance', 'gaji': 7500000, 'umur': 28}
{'nama': 'Nadia Farah', 'departemen': 'Finance', 'gaji': 7200000, 'umur': 23}
{'nama': 'Joko Priyono', 'departemen': 'Finance', 'gaji': 7000000, 'umur': 26}

In [6]:
# Tugas 1: Cari 5 karyawan dengan gaji tertinggi dalam setiap departemen, gunakan query atau aggregation yang sesuai.
pipeline = [
    # Urutkan berdasarkan departemen dan gaji tertinggi
    {"$sort": {"departemen": 1, "gaji": -1}},

    # Kelompokkan per departemen, ambil semua karyawan
    {"$group": {
        "_id": "$departemen",
        "top_employees": {
            "$push": {
                "nama": "$nama",
                "gaji": "$gaji",
                "umur": "$umur"
            }
        }
    }},

    # Ambil hanya 5 karyawan teratas di setiap departemen
    {"$project": {
        "_id": 1,
        "top_5": {"$slice": ["$top_employees", 5]}
    }}
]

result = employees.aggregate(pipeline)

# Tampilkan hasil
for dept in result:
    print(f"Departemen: {dept['_id']}")
    for i, emp in enumerate(dept['top_5'], 1):
        print(f" {i}. {emp['nama']} - Gaji: {emp['gaji']} - Umur: {emp['umur']}")
    print("-" * 50)

Departemen: Finance
 1. Rizky Ananda - Gaji: 7900000 - Umur: 24
 2. Putri Larasati - Gaji: 7700000 - Umur: 33
 3. Eko Santoso - Gaji: 7500000 - Umur: 28
 4. Nadia Farah - Gaji: 7200000 - Umur: 23
 5. Joko Priyono - Gaji: 7000000 - Umur: 26
--------------------------------------------------
Departemen: HRD
 1. Dinda Saputra - Gaji: 7000000 - Umur: 28
 2. Rani Oktaviani - Gaji: 6800000 - Umur: 26
 3. Bayu Fadillah - Gaji: 6500000 - Umur: 30
 4. Fajar Ramadhan - Gaji: 6200000 - Umur: 23
 5. Citra Ayu - Gaji: 6000000 - Umur: 24
--------------------------------------------------
Departemen: IT
 1. Fikri Maulana - Gaji: 9000000 - Umur: 29
 2. Rendi Kurniawan - Gaji: 8700000 - Umur: 31
 3. Nisa Wulandari - Gaji: 8500000 - Umur: 22
 4. Lala Dewi - Gaji: 8200000 - Umur: 25
 5. Tio Pratama - Gaji: 8000000 - Umur: 27
--------------------------------------------------

In [7]:
# Tugas 2: Buatlah skenario di mana Anda harus menghapus karyawan yang berusia di bawah 25 tahun dari database.
# Menampilkan karyawan yang berusia < 25 (sebelum dihapus)
print("Karyawan berusia di bawah 25 tahun:")
for emp in db.employees.find({"umur": {"$lt": 25}}, {"_id": 0, "nama": 1, "umur": 1}):
    print(emp)

# Menghapus data tersebut
hapus = db.employees.delete_many({"umur": {"$lt": 25}})

print(f"\n Jumlah karyawan yang dihapus: {hapus.deleted_count}")

Karyawan berusia di bawah 25 tahun:
{'nama': 'Citra Ayu', 'umur': 24}
{'nama': 'Fajar Ramadhan', 'umur': 23}
{'nama': 'Nisa Wulandari', 'umur': 22}
{'nama': 'Rizky Ananda', 'umur': 24}
{'nama': 'Nadia Farah', 'umur': 23}

 Jumlah karyawan yang dihapus: 5

In [8]:
# Cek kembali isi koleksi setelah penghapusan
for emp in employees.find({}, {"_id": 0}):
    print(emp)

{'nama': 'Dinda Saputra', 'departemen': 'HRD', 'gaji': 7000000, 'umur': 28}
{'nama': 'Rani Oktaviani', 'departemen': 'HRD', 'gaji': 6800000, 'umur': 26}
{'nama': 'Bayu Fadillah', 'departemen': 'HRD', 'gaji': 6500000, 'umur': 30}
{'nama': 'Fikri Maulana', 'departemen': 'IT', 'gaji': 9000000, 'umur': 29}
{'nama': 'Rendi Kurniawan', 'departemen': 'IT', 'gaji': 8700000, 'umur': 31}
{'nama': 'Tio Pratama', 'departemen': 'IT', 'gaji': 8000000, 'umur': 27}
{'nama': 'Lala Dewi', 'departemen': 'IT', 'gaji': 8200000, 'umur': 25}
{'nama': 'Putri Larasati', 'departemen': 'Finance', 'gaji': 7700000, 'umur': 33}
{'nama': 'Eko Santoso', 'departemen': 'Finance', 'gaji': 7500000, 'umur': 28}
{'nama': 'Joko Priyono', 'departemen': 'Finance', 'gaji': 7000000, 'umur': 26}

In [10]:
# Tugas 3: Buatlah laporan ringkas (menggunakan MongoDB query) yang menghitung total gaji karyawan di setiap departemen, serta rata-rata umur karyawan.
pipeline_tugas3 = [
    {"$group": {
        "_id": "$departemen",
        "total_gaji": {"$sum": "$gaji"},
        "rata_umur": {"$avg": "$umur"},
        "jumlah_karyawan": {"$sum": 1}
    }},
    {"$sort": {"_id": 1}}
]

hasil_tugas3 = list(db.employees.aggregate(pipeline_tugas3))

print("Laporan Total Gaji dan Rata-rata Umur per Departemen:")
for dept in hasil_tugas3:
    print(f"\nDepartemen: {dept['_id']}")
    print(f"  Total Gaji       : Rp{dept['total_gaji']:,}")
    print(f"  Rata-rata Umur   : {dept['rata_umur']:.1f} tahun")
    print(f"  Jumlah Karyawan  : {dept['jumlah_karyawan']}")

Laporan Total Gaji dan Rata-rata Umur per Departemen:

Departemen: Finance
  Total Gaji       : Rp22,200,000
  Rata-rata Umur   : 29.0 tahun
  Jumlah Karyawan  : 3

Departemen: HRD
  Total Gaji       : Rp20,300,000
  Rata-rata Umur   : 28.0 tahun
  Jumlah Karyawan  : 3

Departemen: IT
  Total Gaji       : Rp33,900,000
  Rata-rata Umur   : 28.0 tahun
  Jumlah Karyawan  : 4